.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: var(--color-neutral-900);
    
    &-load {
        opacity: 0;
        transition: opacity 1.3s var(--alias-default-ease); 

        &--loaded {
            opacity: 1;
        }
    }
}

.img-wrapper {
    width: 100%;
    overflow: hidden;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: var(--color-neutral-900);
}